<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/navbar') %>
        <% if (isLoggedIn) { %>
        <h2>Welcome, <%= name %>!</h2>
        <% } else { %>
        <button> Log In </button>
        <% } %>
        <% for (let i = 0; i < 4; i++) { %>
        <h3>
            Best tech education class in the world. Sign up now to further your
            education!
        </h3>
        <% } %>
    </body>
</html>
